# Add/modify these sections in /etc/bluetooth/main.conf

[General]
DiscoverableTimeout=0
Experimental=true

[Policy]
AutoEnable=true
FastConnectable=true
ReconnectAttempts=7
ReconnectIntervals=1,2,4,8,16,32,64
